.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  background: rgba(244, 245, 254, 1);
  position: relative;
  padding: 40px 32px;

  .title {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #333333;
  }

  .wrapper {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .column1 {
      width: 100%;

      .img {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .dates {
          padding: 0 10px;
        }

        .times {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0;
          border: 1px #000 solid;
          border-radius: 6px;
          margin: 0 10px 0 0;


          .item {
            padding: 17px 20px;
            border-right: 1px #000 solid;

            &:hover {
              background: #333333;
              color: #FFFFFF;
              cursor: pointer;
            }

            &.selected {
              background: #333333;
              color: #FFFFFF;
            }

            &:last-child {
              border-right: none;
            }
          }
        }
      }
    }

    .column2 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
  }

}
