.container {
  width: 266px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #333333;


  .trigger {
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    outline: none;
    border: none;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    &:hover {
      cursor: pointer;
    }

    span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
    }
  }

  .isOpen {

  }

  .menu {
    padding: 0;
    width: 266px;
    background: #FFFFFF;
    list-style: none;
    margin: 0;

    .item {
      padding: 10px 40px;
      transition: all .5s ease;

      &.highlighted {
        background: rgba(201, 200, 200, 1);
      }

      &.selected {
        font-weight: bold;
      }
    }
  }


}
