.fileList {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  width: 400px;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  //margin: 0;
  padding: 0;
}

.fileName {

}



.img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
