.main {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: flex-start;
  align-items: center;

  background: rgba(244, 245, 254, 1);
  position: relative;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
