.main {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  overflow: scroll;
  padding: 40px 32px 40px 32px;


  .title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #333333;
    margin-bottom: 60px;
  }

  .upload {
    height: 320px;
    width: 320px;
    background: #FFFFFF;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    .inner {
      height: 300px;
      width: 300px;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23CBCED2FF' stroke-width='1' stroke-dasharray='18%2c 18' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;

      .files {
        border: 0;
        height: 100%;
        overflow: hidden;
        padding: 0;
        opacity: 0;
        position: absolute !important;
        white-space: nowrap;
        width: 100%;

        &:hover {
          cursor: pointer;
        }
      }

      .text {
        padding: 20px 0;
        text-align: center;
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #9899A2;
      }
    }
  }
  .caption {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    margin: 38px 0 20px;
  }

  .btn {
    width: 179px;
    height: 51px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333333;
    color: #FFFFFF;
    padding: 0;
    border: none;
    margin: 100px 0 0;
    border-radius: 6px;
    cursor: pointer;
  }
}



