.sidebar {
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  background: rgba(236, 237, 246, 1);
  padding: 54px 25px 0;

  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(25vh);
    .item {
      cursor: pointer;
      padding: 50px 0 0;
      svg {
        path {
          stroke-width: 0.5;
        }
      }

      &.active {
        svg {
          path {
            stroke-width: 0.7;
            fill: black;
            stroke: black;
          }
        }
      }

      &:hover {
        svg {
          path {
            stroke-width: 0.7;
            fill: black;
            stroke: black;
          }
        }
      }
    }
  }
}


